@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700|Satisfy);

html, body {
  font-family: helvetica, arial, sans-serif;
  font-size: 16px;
  line-height: 28px;
}

body {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	color: #fff;
	background: #333;
}

.bespoke-slide h1 {
	position: absolute;
	font-weight: 300;
	font-size: 4.4em;
	line-height: 1;
	letter-spacing: 6px;
	margin: 0;
	top: 40%;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	word-spacing: -0.3em;
}

.bespoke-slide h1 span {
	font-family: 'Satisfy', serif;
	font-weight: 400;
	font-size: 40%;
	text-transform: none;
	word-spacing: 0;
	letter-spacing: 0;
	display: block;
	opacity: 0.4;
}

.bespoke-slide h1 strong {
	color: rgba(0,0,0,0.1);
}

.slide-1 { background: #0ac2d2; }
.slide-2 { background: #7bb7fa; }
.slide-3 { background: #60d7a9; }
.slide-4 { background: #fdc162; }
.slide-5 { background: #fd6a62; }
.slide-6 { background: #f68dbb; }
